# Copy to config/sources.env and keep the real URLs OUT of Git.
SOURCE_channel9=
SOURCE_duronto-tv=
SOURCE_jtv-classic=
SOURCE_sony-max-2-us=
SOURCE_star-gold-thrills=
SOURCE_zee-action=
SOURCE_ary-music=
SOURCE_big-magic=
SOURCE_zee-anmol=
SOURCE_star-movies=
SOURCE_tlc=
SOURCE_sonic-bangla=
SOURCE_astro-cricbuzz=
SOURCE_fox-cricket-501=
SOURCE_sony-sports-ten-3=
SOURCE_star-sports-sl-2=
SOURCE_ten-sports-hd=
SOURCE_ekattor-tv=
SOURCE_independent-tv=
SOURCE_mohona-tv=
SOURCE_star-jalsha=
SOURCE_travelxp-bangla=
